html {
    box-sizing: border-box;
}

*,
*:before,
*:after,
{
    box-sizing: inherit;
}

body {
    background-color: deepskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: aliceblue;
    padding: 25px 25px;
}

.container .signup-copy {
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 100;
    width: 100px;
    color: black;
    margin: 0 auto;
}

form label {
    display: block;
}

.signup-form form input {
    border: 5px solid black;
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    border-width: 0;
}

.signup-form .email-form,
.signup-form .password-form {
    margin-bottom: 10px;
}

.signup-form .signup-btn {
    display: block;
    width: 100%;
    border: 1px solid blue;
    padding: 10px 20px;
    background-color: limegreen;
    font-size: 14px;
    text-align: center;
}

.signup-form .signup-pass {
    text-align: center;
    margin-top: 7px;
    font-size: 12px;
}